* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  min-height: 100vh;
}

header {
  background-color: #D7D8D9;
  padding: 10px 0;
  text-align: center;
}

main {
  max-width: 320px;
  margin: 0 auto;
  height: 100%;
  flex: 1;
}

form {
  background-color: #D7D8D9;
  padding: 10px;
  margin: 20px 0;
}

label {
  font-weight: bold;
  padding: 3px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px
}

button {
  padding: 5px 8px;
  background-color: #4A4C59;
  border: none;
  cursor: pointer;
  color: #F2ECE4;
  border-radius: 5px;
}

button:hover {
  background-color: #0D0D0D;
  transition: all .6s;
}

#results-div {
  display: flex;
  opacity: 0;
  visibility: hidden;
}

#results-div.active{
  display: block;
  opacity: 1;
  visibility: visible;
  background-color: #73706E;
  padding: 10px;
  margin: 20px 0;
  color: #f2ece4;
  transition: all .6s;
}

footer {
  padding: 5px;
  background-color: #D7D8D9;
}
